---
import "../styles/globals.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Section from "../components/Section.astro";
---

<html lang="en">
  <head
    ><meta charset="utf-8" /><meta
      name="viewport"
      content="width=device-width"
    /><title>Contact</title></head
  >
  <body>
    <Nav />
    <Section title="Get in touch" eyebrow="Contact">
      <form
        name="contact"
        method="POST"
        data-netlify="true"
        class="grid md:grid-cols-2 gap-4 max-w-2xl"
      >
        <input type="hidden" name="form-name" value="contact" />
        <input
          class="form-input"
          name="name"
          placeholder="Your name"
          required
        />
        <input
          class="form-input"
          type="email"
          name="email"
          placeholder="you@example.com"
          required
        />
        <textarea
          class="md:col-span-2 form-textarea"
          name="message"
          placeholder="What do you want to build?"
          rows="4"></textarea>
        <button class="btn md:col-span-2" type="submit">Send</button>
      </form>
    </Section>
    <Footer />
  </body>
</html>
