<footer class="section border-t border-zinc-200 dark:border-zinc-800">
  <div
    class="container flex flex-col md:flex-row items-center justify-between gap-6"
  >
    <p class="text-sm text-zinc-500">
      © {new Date().getFullYear()} Ethan Alfandary. All rights reserved.
    </p>
    <ul class="flex items-center gap-4 text-sm">
      <li>
        <a href="mailto:Ethan.alfandary@gmail.com" class="hover:underline"
          >Email</a>
      </li>
      <li>
        <a
          href="https://linkedin.com/in/ethanialfandary"
          class="hover:underline">LinkedIn</a>
      </li>
    </ul>
  </div>
</footer>
