<footer class="section border-t border-zinc-200 dark:border-zinc-800">
  <div
    class="container flex flex-col md:flex-row items-center justify-between gap-6"
  >
    <p class="text-sm text-zinc-500">
      © {new Date().getFullYear()} Ethan Alfandary. All rights reserved.
    </p>
  <div />
  </div>
</footer>
